/* font-family: 'Lobster', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%;
}

:root {
  --primaryColor: rgba(59, 13, 184, 0.945);
  --secundaryColor: rgba(250, 235, 215, 0.945);
  --strongBtnColor: rgba(44, 38, 59, 0.945);
  --headerOneText: "Lobster", cursive;
}

body {
  min-height: 100vh;

  display: grid;
  place-items: center;

  background: linear-gradient(
    to bottom,
    var(--primaryColor) 0,
    var(--secundaryColor)
  );
}

h1 {
  font-size: min(3rem, 9vw);
  font-family: var(--headerOneText);
}

p {
  position: relative;
  left: -30px;
}

p,
#operation {
  font-size: min(1.5rem, 8vw);
  font-weight: 700;
}

::selection {
  background-color: var(--secundaryColor);
}

.grid-container {
  max-width: 300px;
  min-height: 200px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "view-input view-input view-input view-input"
    "plus-btn minus-btn mult-btn split-btn"
    "seven-btn eight-btn nine-btn equal-btn"
    "four-btn five-btn six-btn equal-btn"
    "one-btn two-btn three-btn equal-btn"
    "zero-btn period-btn clear-btn equal-btn";
  gap: 5px;

  padding: 15px;
  border: 2px solid;
  border-radius: 5px;

  background-color: antiquewhite;
  box-shadow: 7px 6px 5px, inset 4px 3px 20px whitesmoke;
}

.grid-item:hover {
  filter: contrast(300%);
}

.strong-btn {
  background-color: var(--strongBtnColor);
  color: aliceblue;
}

#result {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

#view-input {
  grid-area: view-input;
  outline: none;
}

#plus-btn {
  grid-area: plus-btn;
}
#minus-btn {
  grid-area: minus-btn;
}
#mult-btn {
  grid-area: mult-btn;
}
#split-btn {
  grid-area: split-btn;
}
#nine-btn {
  grid-area: nine-btn;
}
#eight-btn {
  grid-area: eight-btn;
}
#seven-btn {
  grid-area: seven-btn;
}
#six-btn {
  grid-area: six-btn;
}
#five-btn {
  grid-area: five-btn;
}
#four-btn {
  grid-area: four-btn;
}
#three-btn {
  grid-area: three-btn;
}
#two-btn {
  grid-area: two-btn;
}
#one-btn {
  grid-area: one-btn;
}
#zero-btn {
  grid-area: zero-btn;
}
#period-btn {
  grid-area: period-btn;
}
#clear-btn {
  grid-area: clear-btn;
}
#equal-btn {
  grid-area: equal-btn;
  background-color: var(--primaryColor);
  color: aliceblue;
}
