/* font-family: 'Lobster', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --primaryColor: rgba(59, 13, 184, 0.945);
  --secundaryColor: rgba(250, 235, 215, 0.945);
  --strongBtnColor: rgba(121, 76, 205, 0.925);
  --headerOneText: "Lobster", cursive;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background: linear-gradient(
    to bottom,
    var(--primaryColor),
    var(--secundaryColor)
  );
}

main {
  padding-inline: 10px;
}

div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: min(4rem, 10vw);
  font-family: var(--headerOneText);
}

p {
  width: 100%;

  padding: 5px;
  border-radius: 10px;

  background-color: var(--primaryColor);
  color: var(--secundaryColor);
}

p:hover {
  filter: contrast(70%);
}

p,
#operation {
  margin-top: 20px;

  font-size: min(2.6rem, 8vw);
  font-weight: 700;
}

::selection {
  background-color: black;
  color: var(--secundaryColor);
}

.grid-container {
  max-width: 300px;
  min-height: 200px;

  padding: 15px;
  border: 2px solid;
  border-radius: 5px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "view-input view-input view-input view-input"
    "plus-btn minus-btn mult-btn divide-btn"
    "seven-btn eight-btn nine-btn equal-btn"
    "four-btn five-btn six-btn equal-btn"
    "one-btn two-btn three-btn equal-btn"
    "zero-btn period-btn clear-btn equal-btn";
  gap: 5px;

  background-color: antiquewhite;
  box-shadow: 7px 6px 5px, inset 4px 3px 20px whitesmoke;
}

.grid-item {
  padding: 5px;
  cursor: pointer;
}

.grid-item:hover {
  filter: contrast(300%);
}

.operation-btn {
  background-color: var(--strongBtnColor);
  color: var(--secundaryColor);
}

.made-by {
  width: 95%;

  position: absolute;
  bottom: 10px;

  font-size: 2.8rem;
  font-family: "Lobster", cursive;
  text-decoration: underline;
  writing-mode: horizontal-tb;
}

.made-by a {
  color: var(--primaryColor);
}

.made-by a:hover {
  color: var(--secundaryColor);
  text-shadow: 3px -2px 10px black;
}

#refresh-btn {
  padding: 5px 45px;
  border-radius: 5px;

  font-family: "Lobster", cursive;

  filter: opacity(30%);
  cursor: pointer;
  transition: all 1s ease-out;
}

#refresh-btn:hover {
  filter: opacity(90%);
}

#error-msg {
  width: 100%;
  max-width: 200px;

  margin-top: -10px;
  padding: 2px;

  filter: opacity(0%);

  font-size: min(1.6rem, 5vw);
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px 10px black;

  color: red;

  transition: all 0.5s ease-out;
}

#value-one,
#value-two {
  min-width: 60%;

  display: inline-block;

  text-align: right;
}

#result {
  min-width: 30%;

  display: inline-block;

  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  text-align: right;
}

#view-input {
  grid-area: view-input;

  outline: none;
}

#view-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

#plus-btn {
  grid-area: plus-btn;
}
#minus-btn {
  grid-area: minus-btn;
}
#mult-btn {
  grid-area: mult-btn;
}
#divide-btn {
  grid-area: divide-btn;
}
#nine-btn {
  grid-area: nine-btn;
}
#eight-btn {
  grid-area: eight-btn;
}
#seven-btn {
  grid-area: seven-btn;
}
#six-btn {
  grid-area: six-btn;
}
#five-btn {
  grid-area: five-btn;
}
#four-btn {
  grid-area: four-btn;
}
#three-btn {
  grid-area: three-btn;
}
#two-btn {
  grid-area: two-btn;
}
#one-btn {
  grid-area: one-btn;
}
#zero-btn {
  grid-area: zero-btn;
}
#period-btn {
  grid-area: period-btn;
}
#clear-btn {
  grid-area: clear-btn;
}
#equal-btn {
  grid-area: equal-btn;
  background-color: var(--primaryColor);
  color: aliceblue;
}

@media screen and (max-width: 820px) {
  .made-by {
    width: auto;
    position: absolute;
    left: 0;
    bottom: auto;

    writing-mode: vertical-lr;
  }
}

@media screen and (max-width: 300px) {
  .made-by {
    display: none;
  }
}
